# R files
.Rhistory
.RData

# Emacs auto files.
*~
\#*\#
.\#*

# Ignores by extension.
*.log
*.vbr
*.aux
*.bbl
*.toc
*.toc
*.nav
*.out
*.snm
*.vrb

# Ignores tex files resulted from Rnw.
mepc*.tex

# Ignores directories by pattern.
*_files/
**/*_files/
*_cache/
**/*_cache/
.Rproj.user
pdf/
Rfigs/
